{{!
    Template for readme.
}}{{pkg.name}}
=====

{{pkg.description}}

<!-- Badge start -->

{{#each badges}}[![{{alt}}][{{img}}]][{{link}}]
{{/each}}

<!-- Badge end -->


<!-- Banner start -->

<a href="{{pkg.homepage}}"><img style="height:{{BANNER_SIZE}}px;" src="assets/images/coz-banner.png" height="{{BANNER_SIZE}}"/></a>

<!-- Banner end -->

<!-- Concept start -->

{{{read '.concept.md'}}}

<!-- Concept end -->



<!-- Table start -->

Table of Contents
-----
{{#each sections}}- [{{{title}}}](#{{spinalcase name}})
{{#each topics}}    - [{{{title}}}](#{{spinalcase ../name}}-{{spinalcase name}})
{{/each}}
{{/each}}

<!-- Table end -->


<!-- Sections start -->

{{#each sections}}
<a name="{{spinalcase name}}"></a>
{{#each lines}}{{#if isTopic}}<a name="{{spinalcase ../../name}}-{{spinalcase name}}"></a>
{{/if}}{{{content}}}
{{/each}}
{{/each}}

<!-- Sections end -->


<!-- Links start -->

{{#each links}}[{{@key}}]: {{this}}
{{/each}}

<!-- Links end-->

<!-- Tutorial urls start -->

{{#each tutorials}}
[{{name}}]: {{url}}
{{/each}}

<!-- Tutorial urls end -->
